<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

  </head>
  <body>
    {% include "navbaradmin.html" %}
    <br>
    <br>

<h3 class="p-3 mb-2 bg-success text-white" style = 'font-size: 30px;text-align:center;'>Книга успешно выдана!</h3>
<br><br>
<div class="options" style="text-align:center">
  <a href="issuebook" class="btn btn-dark btn-lg active" style="border-radius: 10px; width:400px; height:50px;" role="button" aria-pressed="true">Выдать еще</a><br><br>

<a href="viewissuedbook" class="btn btn-dark btn-lg active" style="border-radius: 10px; width:400px; height:50px;" role="button" aria-pressed="true">Посмотреть список выданных книг</a><br><br>
</div>
<br>
{% include "footer.html" %}
  </body>
</html>
